# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

-VOICE OVER-
- {Tara}
- {Giulia}
- {Ivy}

-KEYBOARD-
- {Shelley}
- {Sam}
- {Sarah}

## Tasks

1. {Buy an Item from the Boys Page}
2. {Find out more about the company}
3. {Put a girls item in the cart, and return home}

---

## Individual Results & Observations

### {Tara}

-No major issues
--problems going back home because logo needs "home" alt tag


### {Giulia}

--No major problems

### {Ivy}

--problems going back home because logo needs "home" alt tag

### {Shelley}

-No issues

### {Sam}

-No issues

### {Sarah}

-No issues

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No major issues

### Serious, Causes Frustration, May Hinder Completion

- No major issues

### Minor, Annoying, Won’t Hinder Completion

-"edit text for..." when hovering over search bar

-"continue to checkout>>" button says "greater than, greater than"

-need to make main and contentinfo sections on all pages for landmarks

-need to make alt tag of home on logo

