
# User Testing Report

User testing was conducted by {Logan Brandwood} on {Tuesday, April 1, 2014} between the times of {3:45} and {4:30} with the following participants:

- {Sam}
- {Tara}
- {Giulia}

## Tasks

1. {Buy an Item from the Boys Page}
2. {Find out more about the company}
3. {Put an item into shopping cart, then go back to home}

---

## Individual Results & Observations

### {Sam}

-She clicked the boys page
-She clicked "buy" beneath the item she wanted
-This directed her to the shopping cart page

-There was no link to bring her to the checkout page


FIXES:
-Added "continue to checkout" button at bottom of page
-Brings user to "thank you for your purchase page"

### {Tara}

-Tara clicked the "about" link as expected and was able to find out more about the company

TO FIX: add contact info and address to about page

### {Giulia}

-Navigated through as expected
-Took a minute contemplating clicking the home button in worry that it would delete her current shopping cart items.

TO FIX:
-Add "continue shopping" button


---

## Trends

### Critical, Needs Fixing, Unable to Complete

-None

### Serious, Causes Frustration, May Hinder Completion

-None

### Minor, Annoying, Won’t Hinder Completion

-Add continue shopping button
-Add contact info and address to about page
