<div class="grid grid-footer"role="contentinfo">
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-1-3">
		<p>Copyright c	</p>
	</div>
		
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		<ul class="list-group social">
			<li class="list-group-item list-group-item-inline">
				<a href="#"><img class="small" src="images/facebook.jpg/" alt= "facebook"></a>
			</li>
			
			<li class="list-group-item list-group-item-inline">
				<a href="#"><img class="small" src="/images/twitter.jpg/" alt= "twitter"></a>
			</li>
			
			<li class="list-group-item list-group-item-inline">
				<a href="#"><img class="small" src="images/pinterest/ alt= "email"></a>
			</li>
		</ul>
	</div>
	
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-1-3">
		<h2><a href="#"> Back to top</a></h2>	
	</div>
</div>
