		<div class="media">
			<div class="media-img media-img-stacked">
				<img class="img-flex" src="{{site.baseurl}}/images/{{include.image}}" alt="">			
			</div>
				<div class="media-details">
					<div class="media-details">
					<h2 class="mega space-none">{{include.title}}</h2>
					<p>{{include.desc}}</p>
					<p>{{include.price}}</p>
				</div>
					<ul class="list-group">
						<li class="list-group-item list-group-item-inline">
							<img src= "http://placehold.it/32x32/00AABA" alt= "">
						</li>
						
						<li class="list-group-item list-group-item-inline">
							<img src= "http://placehold.it/32x32/D6EEEA" alt= "">
						</li>
							
						<li class="list-group-item list-group-item-inline">
							<img src= "http://placehold.it/32x32/8E8E06" alt= "">
						</li>
					</ul>
				</div>
				<a class="btn-boy micro" href="{{site.baseurl}}/cart/"> Buy Now!</a>
			</div>


		