/*
  Colour Palette
  
BABY BOY
  - Teal: rgba(0,170,186,1.00) #00AABA
  - Light teal: rgba(231,255,250,1.00) #E7FFFA
  - Lime Green: rgba(181,181,8,1.00) #8E8E06
BABY GIRL
  - Baby Pink : rgba(255,210,247,1.00) #FFD2F7
  - Bright Pink: rgba(255,136,234,1.00)#FF88EA
NEUTRALS
  - Medium Grey/purple: rgba(158,149,157,1.00) #9E959D 
  - Medium Grey/green: rgba(134,146,144,1.00) #869290
  -Light Grey: rgba(222,225,224,1.00)#DEE1E0
  
 */
btn-boy:hover,
btn:focus,
btn:active{
	color:#000000;
}


.btn-boy,
.btn-boy:link,
.btn-boy:visited {
	margin-left: .5rem;
	display: inline-block;
	padding: .5em .5em;
	background-image: linear-gradient(to bottom, #00AABA, #E7FFFA);
	border-radius: 6px;
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);	
	font-weight: 300;
}

.btn-girl,
.btn-girl:link,
.btn-girl:visited {
	margin-left: .5rem;
	display: inline-block;
	padding: .5em .5em;
	background-image: linear-gradient(to bottom, #FF88EA, #FFD2F7);
	border-radius: 6px;
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);	
	font-weight: 300;
}

.btn-grey,
.btn-grey:link,
.btn-grey:visited {
	margin-left: .5rem;
	display: inline-block;
	padding: .5em .5em;
	background-image: linear-gradient(to bottom, #869290, #DEE1E0);
	border-radius: 6px;
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);	
	font-weight: 300;
}