/*
  Colour Palette
  
BABY BOY
  - Light green : #B8E62E
  - medium green: #81A120;
NEUTRALS
  - Medium Grey/purple: rgba(158,149,157,1.00) #9E959D 
  - Medium Grey/green: rgba(134,146,144,1.00) #869290
  -Light Grey: rgba(222,225,224,1.00)#DEE1E0
  
 */


.grid-footer{
	background-color: #846E58;
	text-align:center;
	margin-top: 1rem;
  -webkit-box-shadow: inset 0 0 20px #000;
  -moz-box-shadow: inset 0 0 20px #000;
  box-shadow: inset 0 0 20px #000;
}

.social{
	text-align: center;
}
