<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Little Monkeys </title></title>
<meta name="description" content={{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>	
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">

</head>
<body>

{% include nav.html %}


{% if page.showbanner %}
<div class="banner">
	<h2>{{page.bannertext}}</h2>
</div>
{% endif %}


{{content}}

{% include footer.html %}


</body>
</html>
